In [ ]:
# !unzip "../data/Physionet_DF.zip"

In [1]:
import pandas as pd

#### 173 individual records

In [2]:
df = pd.read_csv ('../data/Physionet_DataFrame.csv', index_col=0)
df

             Rpeaks  Label  ids
0              61.0      0    1
1             200.0      0    1
2             358.0      0    1
3             584.0      0    1
4             729.0      0    1
...             ...    ...  ...
1806787  19446442.0      0  173
1806788  19446610.0      0  173
1806789  19446776.0      0  173
1806790  19446938.0      0  173
1806791  19447046.0      0  173

[8854313 rows x 3 columns]

#### 8.854.313 total records

In [3]:
df = df.reset_index(drop=True)
df

             Rpeaks  Label  ids
0              61.0      0    1
1             200.0      0    1
2             358.0      0    1
3             584.0      0    1
4             729.0      0    1
...             ...    ...  ...
8854308  19446442.0      0  173
8854309  19446610.0      0  173
8854310  19446776.0      0  173
8854311  19446938.0      0  173
8854312  19447046.0      0  173

[8854313 rows x 3 columns]

In [5]:
values_to_keep = [0,1,2] ### 713954 (total) - 708567 (NOT AFL) = 5387 AFL labels;   = 253862 AFIB labels;   = 454705 N labels
bool_result = df['Label'].isin(values_to_keep)
wrong_rythms = [i for i in bool_result if i is False]
len(wrong_rythms)

0

In [6]:
# df.to_csv('Physionet_DataFrame.csv')